body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    line-height: 1.6;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8%;
    font-size: 15px;
    color: white;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

button:hover {
    font-style:oblique;
    border: none;
    background-color: blue;
}  
.cuadro {
        width: 50%;          
        padding: 20px;         
        background-color: white;  
        border: 2px solid #ccc;   
        border-radius: 10px;      
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
        margin: 20px auto;        
    }